@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap");

@import "./styles/fonts.css";
@import "./styles/theme.css";
@import "./styles/nav.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background: var(--bg);
  color: var(--text);

  min-width: 320px;
  min-height: 100vh;

  transition: background 0.3s, color 0.3s;
}

h1 {
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
}
